.header {
  height: 3vh;
  text-align: center;
  padding: 3%;
  background-color: rgb(116, 116, 204);
  font-size: 3vh;
  color: white;
}

.newOne {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30vh 50vh;
  height: 10vh;
  border: 1px solid black;
  background-color: rgb(116, 116, 204);
  font-size: 2vh;
  color: white;
}
